.home {
    width: 100%;
    background-image: url('../assets/logo.png');
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    // height:100vh;
}
img {
    width:min-content;
}