.navbar {
    background-color: #001527;
    color: #2692d6;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-item {
    margin-right: 10px;
}

.has-dropdown:hover .navbar-dropdown {
    display: block;
}

.navbar-dropdown {
    display: none;
    position: absolute;
    background-color: #001527;
    min-width: 200px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.navbar-dropdown a {
    display: block;
    padding: 10px;
    color: #001527;
    text-decoration: none;
}

.navbar-dropdown a:hover {
    background-color: black;
}

.navbar a {
    color: #2692d6;
    line-height: 1.5;
}

.navbar-link {
    text-decoration: none;
}

.button {
    background-color: transparent;
    border: none;
    color: #2692d6;
    /* Same color as navbar links */
    cursor: pointer;
    font-size: inherit;
    padding: 10px;
    /* Adjust padding to match other navbar items */
    text-decoration: none;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #f0f0f0;
}

.cart-bubble {
    position: relative;
}