@tailwind base;
@tailwind components;
@tailwind utilities;

.logoImage {
  width: 100px;
  height: 50px;
  object-fit: cover;
  object-position: center;
}

.overflow {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.noOverflow {
  white-space: nowrap;
}

.cartOverflow {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: auto;
}

.fixed-layout-table {
  table-layout: fixed;
  width: 100%;
}

.fixed-layout-table th,
.fixed-layout-table td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.product-column {
  width: 50%;
}

.quantity-column,
.price-column {
  width: 25%;
}
